doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    title Ensoo - Designing For The Blockchain Industry
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  body
    .box
      img(src="logo.png", alt="Ensoo")