doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    title ensoo labs
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  body
    h1 ensoo - zen design.